
/ Recent News Start
.banner-container{style: "background: #ECF0F1"}
  .container
    .row
      %br
      %ul.thumbnails.list-unstyled
        - @ideas.each do |idea| 
          = render 'ideas/idea', idea: idea
          