/ Revolution Slider Start
/ Full width Banner container
- color = Idea::FRONT_COLORS.shuffle.first
.banner-container{style: "background: #{color.first}"}
  .container
    .row.text-center
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "400", :src => "//www.youtube.com/embed/vwrkUdEFcdM", :width => "600", wmode: "Opaque"}
