/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ./renata
 *= require font-awesome
  *= require ./file_upload
   *= require ./select
 */

.icons{
	width: 60px;
	height: 60px;

	background: url(grafiki.png);
}

.btn.icon_choose{
	width: 100px!important;
height: 100px;
text-align: center;
color: white !important;
  -webkit-transition: all .3s;  
  -moz-transition: all .3s;  
  transition: all .3s; 
}

.btn.icon_choose:hover, .btn.icon_choose.active{
	border-radius: 50%!important;
	background-color: red;
	  -webkit-transition: all .3s;  
  -moz-transition: all .3s;  
  transition: all .3s; 
}

.btn.icon_choose > .icons{
	padding: 0;
margin: 0 auto;
}

