/ Revolution Slider Start
/ Full width Banner container
.banner-container
  .banner
    %ul
      / THE fade EFFECT EXAMPLES  WITH LINK ON THE MAIN SLIDE EXAMPLE
      / First Slide for banner container
      %li{"data-slotamount" => "1", "data-transition" => "slotzoom-horizontal"}
        %img{alt: "", "data-lazyload" => "assets/slider/1.jpg", src: "assets/slider/dummy.jpg"}/
        / Slider Left Side
        .caption.sfb.caption-lb{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "3500", "data-x" => "left", "data-y" => "190"}
          .lb-inner.br-red
            .lb-content
              %h3 Paseses
              %span
                Lorem Ipsum
                %br>/
                variations.
        / Bor image
        .caption.sft.bor{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "1700", "data-x" => "center", "data-y" => "150"}
          %img.img-responsive{alt: "", src: "assets/slider/designbor.png"}/
        / Slider main heading
        .caption.sfb.slideone-h{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "1100", "data-x" => "center", "data-y" => "160"}
          %h2 IDEACARDS
        / Paragraph for Slider
        .caption.lfr.slideone-p{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "2200", "data-x" => "center", "data-y" => "260"}
          %p
            Unlimited again is there anyone who transaction again is there
            %br/
            anyone who because it is pleasure .It was popularised in the
            %br/
            release of Letraset sheets containing Lorem Ipsum passages.
        / Caption Buttons
        .caption.sfb.cbtn{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "2500", "data-x" => "center", "data-y" => "370"}
          %a.caption-button.br-lblue{href: "#"}
            %i.fa.fa-cloud-download
            Download
          \ 
          %a.caption-button.br-green{href: "#"}
            %i.fa.fa-desktop
            Try now
        / Slider Right Side
        .caption.sft.caption-rb{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "3900", "data-x" => "right", "data-y" => "190"}
          .rb-inner.br-lblue
            .rb-content
              %h3 Nostrum
              %span
                Tempora inci
                %br>/
                variations.
        / Bottom Flat icon images
        .caption.sfb.caption-icon{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "4200", "data-x" => "290", "data-y" => "450"}
          %img.img-responsive{alt: "", src: "assets/slider/3.png"}/
        .caption.sfb.caption-icon{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "4400", "data-x" => "390", "data-y" => "450"}
          %img.img-responsive{alt: "", src: "assets/slider/4.png"}/
        .caption.sfb.caption-icon{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "4600", "data-x" => "490", "data-y" => "450"}
          %img.img-responsive{alt: "", src: "assets/slider/5.png"}/
        .caption.sfb.caption-icon{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "4800", "data-x" => "590", "data-y" => "450"}
          %img.img-responsive{alt: "", src: "assets/slider/6.png"}/

.clearfix
/ Revolution Slider End